<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<body>
	<section>
		<div class="container py-4">
			<div class="row justify-content-center">
				<div class="col-xl-8">
					<div class="surface-panel p-4">
						<h2 class="mb-3">Add Admin</h2>
						<th:block th:if="${session.succMsg}">
							<p class="alert alert-success text-center">[[${session.succMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
						<th:block th:if="${session.errorMsg}">
							<p class="alert alert-danger text-center">[[${session.errorMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<form action="/admin/save-admin" enctype="multipart/form-data" method="post">
							<div class="row g-3">
								<div class="col-md-6">
									<label class="form-label">Full Name</label>
									<input required class="form-control" name="name" type="text">
								</div>
								<div class="col-md-6">
									<label class="form-label">Mobile Number</label>
									<input required class="form-control" name="mobileNumber" type="text">
								</div>
								<div class="col-12">
									<label class="form-label">Email</label>
									<input required class="form-control" name="email" type="email">
								</div>
								<div class="col-md-6">
									<label class="form-label">Address</label>
									<input required class="form-control" name="address" type="text">
								</div>
								<div class="col-md-6">
									<label class="form-label">City</label>
									<input required class="form-control" name="city" type="text">
								</div>
								<div class="col-md-6">
									<label class="form-label">State</label>
									<input required class="form-control" name="state" type="text">
								</div>
								<div class="col-md-6">
									<label class="form-label">Pincode</label>
									<input required class="form-control" name="pincode" type="text">
								</div>
								<div class="col-md-6">
									<label class="form-label">Password</label>
									<input required class="form-control" name="password" type="password">
								</div>
								<div class="col-md-6">
									<label class="form-label">Confirm Password</label>
									<input required class="form-control" name="cpassword" type="password">
								</div>
								<div class="col-12">
									<label class="form-label">Profile Image</label>
									<input class="form-control" name="img" type="file">
								</div>
							</div>
							<button type="submit" class="btn btn-primary w-100 mt-4">Create Admin</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
